services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn serve:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    expose:
      - "8000"
    volumes:
      - ./coffee_roast_model.keras:/app/coffee_roast_model.keras # Optional: if you want to update model without rebuild
    deploy:
      replicas: 1 # Scale this with --scale backend=N

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./certs:/etc/nginx/certs:ro

volumes:
  certs:
