@import "tailwindcss";

@theme {
  --color-coffee-900: #3C2F2F;
  --color-coffee-800: #6F4E37;
  --color-coffee-700: #8D6E63;
  --color-coffee-400: #CC9B65;
  --color-coffee-100: #EFEBE9;
  --color-coffee-50: #FDFBF7;

  --color-roast-dark: #212121;
  --color-roast-medium: #5D4037;
  --color-roast-light: #A1887F;
  --color-roast-green: #558B2F;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --background-image-coffee-gradient: linear-gradient(135deg, #FDFBF7 0%, #EFEBE9 100%);
}

@layer base {
  body {
    @apply font-sans text-coffee-900 bg-coffee-50;
  }
}